.container2 {
  border: 1px solid red;
  display: grid;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 5px;

  grid-gap: 3px;
  grid-template-columns: 1fr 3fr;

  grid-template-areas: 
   "DebHeader  FinHeader "
   "Aside Principal"
   "Footer FinFooter";
}

div.sidebar {
  background-color: #777;
  margin: 10px;
  margin-right: 5px;
  padding: 10px;
}

div.card {
  color: #000;
  background-color: #ccc;
  padding: 10px;
  margin: 10px;
  margin-left: 5px;
}

div.card:nth-child(odd) {
  color: #333;
  background-color: #fff;
}

.grid {
  margin: 10px auto;
  width: 97%;
  background-color: #777;
  color: #adff2e;
}

main {
  /* color: #f00; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
}

main div:first-child{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

header.grid, footer.grid{
  grid-column: 1 / 3;
  padding: 5px 5px 0 ;
  position:relative;
}


.fondRose {
  grid-area: Principal;
  background: violet;
}


.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 70px 100px 140px 200px;
  grid-column-gap: 20px;
  /* grid-row-gap: 5px; */
  border: 1px solid orange;
  max-width: 99%;
  background-color: #333;
  border-radius: 7px;
  margin: 20px auto 50px;
  padding: 10px 15px;
}

.container div {
  padding: 10px;
  background-color: #222;
  border-radius: 4px;
  margin: 5px 0;
}

.container div:nth-child(odd) {
  background-color: #111;
}

.container .nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.container .nested div {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  border: 1px solid #f00;
}